@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

/* Firefox Dotted Line */

a, a:active, a:hover, a:focus, a:link, a:visited, input::-moz-focus-inner, button::-moz-focus-inner, object, embed {
  outline: none;
}

/*
    ELEMENTS
*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
}

/** Header **/

header.intro {
  background-image: url(../img/background.png);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

header.intro img {
  width: 25rem;
  height: 25rem;
  margin-bottom: 3rem;
  -webkit-box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.35);
}

header.intro h1 {
  margin: 0;
  color: white;
  font-size: 10rem;
}

header.intro h2 {
  margin: 0;
  color: white;
  font-size: 5rem;
}

header.intro hr {
  width: 45rem;
  border: 0.1rem solid #009bdb;
}

/* Navigation Bar */

@media (min-width: 768px){
    .navbar-nav-center{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

/*
    UTILS
*/
.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}