@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

/* Firefox Dotted Line */

a,
a:active,
a:hover,
a:focus,
a:link,
a:visited,
input::-moz-focus-inner,
button::-moz-focus-inner,
object,
embed {
  outline: none;
}


/* Bootstrap fixes */

.row {
  margin: 0;
}


/*
    ELEMENTS
*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
}


/** Header **/

@media (min-width: 768px) {
  header.intro img {
    width: 25rem;
    height: 25rem;
    margin-bottom: 3rem;
  }
  header.intro h1 {
    font-size: 10rem;
  }
  header.intro h2 {
    font-size: 5rem;
  }
  header.intro hr {
    width: 45rem;
    border: 0.1rem solid #004080;
  }
}

@media (max-width: 768px) {
  header.intro img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 3rem;
  }
  header.intro h1 {
    font-size: 5rem;
  }
  header.intro h2 {
    font-size: 2.5rem;
  }
  header.intro hr {
    width: 25rem;
    border: 0.1rem solid #004080;
  }
}

header.intro {
  background: #002e58;
  background: radial-gradient(at top center, #002e58 0%, #00192f 100%);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

header.intro img {
  -webkit-box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.35);
}

header.intro h1 {
  margin: 0;
  color: white;
}

header.intro h2 {
  margin: 0;
  color: white;
}

header.intro hr {
  border: 0.1rem solid #004080;
}


/* Navigation Bar */

@media (min-width: 768px) {
  .navbar-center .navbar-collapse>ul {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
  .navbar-center .navbar-collapse .navbar-nav>li>a {
    padding: 3rem 4rem;
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .navbar-center .navbar-collapse .navbar-nav>li>a {
    padding: 20px 30px;
    font-size: 1.8rem;
  }
}

.navbar-center {
  background-color: #e9f0f5;
  border: 0;
  margin: 0;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.4);
}

.navbar-center .navbar-collapse .navbar-nav>li>a {
  box-sizing: border-box;
  color: #004080;
  transition: background-color 0.2s linear;
}

.navbar-center .navbar-collapse .navbar-nav>li.active>a,
.navbar-center .navbar-collapse .navbar-nav>li>a:hover,
.navbar-center .navbar-collapse .navbar-nav>li>a:active {
  color: white;
  background-color: #004080;
}


/* Sections */

@media (min-width: 768px) {
  main section>header>h2 {
    font-size: 5rem;
  }
  main section>hr {
    width: 45rem;
  }
}

@media (max-width: 768px) {
  main section>header>h2 {
    font-size: 2.5rem;
  }
  main section>hr {
    width: 25rem;
  }
}

main section>div {
  padding: 3rem 0;
}

main section:nth-of-type(odd) {
  background-color: #e9f0f5;
}

main section:nth-of-type(even) {
  background-color: #eff6fa;
}

main section>header>h2 {
  text-align: center;
  color: #004080;
  margin: 0;
  box-sizing: border-box;
  padding: 3rem 0rem 0.5rem 0rem;
}

main section>hr {
  border: 0.1rem solid #004080;
  margin: 0 auto;
}


/* About */

@media (min-width: 768px) {
  .about-me .about-me-element p {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .about-me .about-me-element i {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .about-me .about-me-element p {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .about-me .about-me-element i {
    font-size: 1.8rem;
  }
}

.about-me .about-me-element {
  margin-top: 1rem;
}

.about-me .about-me-element p,
.about-me .about-me-element i {
  margin: 0;
}

.about-me .about-me-element p {
  display: inline-block;
  color: #7f8c97;
}

.about-me .about-me-element i {
  color: #f0ad4e;
}


/* Timeline */

@media (min-width: 768px) {
  .timeline-moment>.moment-description>h3 {
    font-size: 2.5rem;
  }
  .timeline-moment>.moment-description>p,
  .timeline-moment>.moment-date>p {
    font-size: 2rem;
  }
  .timeline-moment>.moment-description::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3rem;
    width: 0;
    height: 0;
    border-top: 1.4rem solid transparent;
    border-bottom: 1.4rem solid transparent;
  }
  .timeline-moment:nth-of-type(odd)>.moment-description::after {
    right: -2rem;
    border-left: 2rem solid white;
  }
  .timeline-moment:nth-of-type(even)>.moment-description::after {
    left: -2rem;
    border-right: 2rem solid white;
  }
}

@media (max-width: 768px) {
  .timeline-moment>.moment-description>h3 {
    font-size: 1.8rem;
  }
  .timeline-moment>.moment-description>p,
  .timeline-moment>.moment-date>p {
    font-size: 1.8rem;
  }
  .timeline-moment>.moment-description {
    margin: 0 2rem;
  }
}

.timeline-content {
  position: relative;
  box-sizing: border-box;
}

.timeline-content::before {
  content: '';
  position: absolute;
  top: 1%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 90%;
  width: 0.3rem;
  background: #d7e4ed;
}

.timeline-moment {
  margin-top: 3rem;
}

.timeline-moment>.moment-description {
  background-color: white;
  color: #000;
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.05));
}

.timeline-moment>.moment-description>h3 {
  margin: 0rem 0rem 2rem 0rem;
  color: #303e49;
  text-align: left;
}

.timeline-moment>.moment-description>p {
  margin: 0;
  color: #7f8c97;
  text-align: justify;
  text-justify: inter-word;
}

.timeline-moment>.moment-date>p {
  margin: 3rem 0rem;
  color: #7f8c97;
}

.timeline-moment:nth-of-type(odd)>.moment-date>p {
  text-align: left;
  margin-left: 7rem;
}

.timeline-moment:nth-of-type(even)>.moment-date>p {
  text-align: right;
  margin-right: 7rem;
}

.timeline-moment>.moment-image>img {
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  box-shadow: 0 0 0 0.7rem white;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.05));
}


/* Skills */

@media (min-width: 768px) {
  .skill-set h3 {
    font-size: 3.5rem;
  }
  .skill-set hr {
    width: 25rem;
  }
  .skill-set .skill-element {
    height: 3rem;
    line-height: 3rem;
  }
  .skill-element p {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .skill-set h3 {
    font-size: 2.2rem;
  }
  .skill-set hr {
    width: 15rem;
  }
  .skill-set .skill-element {
    height: 2rem;
    line-height: 2rem;
  }
  .skill-element p {
    font-size: 1.8rem;
  }
}

.skill-set h3 {
  color: #004080;
}

.skill-set hr {
  border: 0.1rem solid #004080;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.skill-element {
  margin-top: 1rem;
}

.skill-element p {
  text-align: right;
  margin: 0;
  color: #7f8c97;
}

.skill-element div,
.skill-element .progress {
  overflow: unset;
  height: 100%;
  box-shadow: none;
}


/* Portfolio */

@media (min-width: 768px) {
  .portfolio-item figcaption {
    font-size: 2.5rem;
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  .portfolio-item figcaption {
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
  }
}

.portfolio-page .portfolio-item {
  display: inline-block;
}

.portfolio-item figure {
  position: relative;
  border: solid white 0.7rem;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.05));
}

.portfolio-item figcaption {
  position: absolute;
  bottom: 5%;
  left: -1.5rem;
  color: #303e49;
  background-color: rgba(255, 255, 255, 0.97);
}

.portfolio-item img {
  width: 100%;
}


/* Contact */

.contact-form label,
.contact-form legend,
.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  color: #303e49;
  font-size: 1.8rem;
  padding: 3rem 2rem;
  border: 0;
  border-radius: 0;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.05));
  box-sizing: border-box;
}

.contact-form textarea {
  resize: none;
}

.contact-form label,
.contact-form legend {
  text-align: left;
  font-size: 2.5rem;
  color: #004080;
  font-weight: 100;
  border: 0;
  padding: 0;
  margin: 0;
}


/*
    UTILS
*/

.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}