// Size scaling, all sizes will be multiplied by this factor
$size-scaling: 0.9;

// Font Family
$font-primary: Roboto, sans-serif;
$font-hand-written: 'Dancing Script', cursive, sans-serif;
$font-secondary: 'Poiret One', cursive;

// Font Color
$color-primary: #004080;
$color-primary-dark: #00172E;
$color-secondary: #F0AD4E;
$color-secondary-dark: #7A562B;
$color-gray-light: #EFF6FA;
$color-gray-normal: #7F8C97;
$color-gray-dark: #303E49;

// Layout Color
$background-color-one: #E9F0F5;
$background-color-one-dark: #A0A6AC;
$background-color-two: #EFF6FA;
$background-color-two-dark: #ABB0B3;

$footer-background-color-one: #585a5d;
$footer-background-color-two: #303134;

// Font Size
$font-tiny: $size-scaling * 1rem;
$font-small: $size-scaling * 1.2rem;
$font-regular: $size-scaling * 1.5rem;
$font-large: $size-scaling * 2rem;
$font-x-large: $size-scaling * 3rem;
$font-xx-large: $size-scaling * 4rem;
$font-xxx-large: $size-scaling * 6rem;
$font-xxxx-large: $size-scaling * 9rem;

// Sizes 16:9 measures
$width-tiny: $size-scaling * 7.11rem;
$width-small: $size-scaling * 12rem;
$width-regular: $size-scaling * 18rem;
$width-large: $size-scaling * 27rem;
$width-x-large: $size-scaling * 36rem;
$width-xx-large: $size-scaling * 53rem;
$width-xxx-large: $size-scaling * 71rem;
$width-xxxx-large: $size-scaling * 107rem;

$height-tiny: $size-scaling * 4.5rem;
$height-small: $size-scaling * 7.5rem;
$height-regular: $size-scaling * 10rem;
$height-large: $size-scaling * 15rem;
$height-x-large: $size-scaling * 20rem;
$height-xx-large: $size-scaling * 30rem;
$height-xxx-large: $size-scaling * 40rem;
$height-xxxx-large: $size-scaling * 60rem;

// Margin
$margin-tiny: $size-scaling * 0.75rem;
$margin-small: $size-scaling * 1rem;
$margin-regular: $size-scaling * 1.5rem;
$margin-large: $size-scaling * 2rem;
$margin-x-large: $size-scaling * 3rem;
$margin-xx-large: $size-scaling * 4rem;
$margin-xxx-large: $size-scaling * 6rem;
$margin-xxxx-large: $size-scaling * 9rem;

// Padding (up/down, left-right)
$padding-tiny: ($size-scaling * 0.75rem) ($size-scaling * 1.2rem);
$padding-small: ($size-scaling * 1rem) ($size-scaling * 1.8rem);
$padding-regular: ($size-scaling * 1.5rem) ($size-scaling * 2.7rem);
$padding-large: ($size-scaling * 2rem) ($size-scaling * 3.6rem);
$padding-x-large: ($size-scaling * 3rem) ($size-scaling * 5.3rem);
$padding-xx-large: ($size-scaling * 4rem) ($size-scaling * 7.1rem);
$padding-xxx-large: ($size-scaling * 6rem) ($size-scaling * 10.7rem);
$padding-xxxx-large: ($size-scaling * 9rem) ($size-scaling * 16rem);

// Transitions
$transition-slow: 1.2s;
$transition-medium: 0.6s;
$transition-fast: 0.2s;

// Others
$opacity-tiny: 0.10;
$opacity-small: 0.25;
$opacity-regular: 0.5;
$opacity-high: 0.75;
$opacity-x-high: 0.9;
