// Font Family
$font-primary: Roboto, sans-serif;
$font-hand-written: 'Dancing Script', cursive, sans-serif;

// Font Size
$font-tiny: 0.75rem;
$font-small: 1rem;
$font-regular: 1.5rem;
$font-large: 2rem;
$font-x-large: 3rem;
$font-xx-large: 4rem;
$font-xxx-large: 6rem;
$font-xxxx-large: 9rem;

// Font Color
$color-primary: #004080;
$color-primary-dark: #00172E;
$color-secondary: #F0AD4E;
$color-secondary-dark: #7A562B;
$color-gray-light: #EFF6FA;
$color-gray-normal: #7F8C97;
$color-dark: #303E49;

// Layout Color
$background-color-one: #E9F0F5;
$background-color-two: #EFF6FA;

$footer-background-color-one: #585a5d;
$footer-background-color-two: #303134;

// Sizes 16:9 measures
$width-tiny: 7.11rem;
$width-small: 12rem;
$width-regular: 18rem;
$width-large: 27rem;
$width-x-large: 36rem;
$width-xx-large: 53rem;
$width-xxx-large: 71rem;
$width-xxxx-large: 107rem;

$height-tiny: 4.5rem;
$height-small: 7.5rem;
$height-regular: 10rem;
$height-large: 15rem;
$height-x-large: 20rem;
$height-xx-large: 30rem;
$height-xxx-large: 40rem;
$height-xxxx-large: 60rem;

// Margin
$margin-tiny: 0.75rem;
$margin-small: 1rem;
$margin-regular: 1.5rem;
$margin-large: 2rem;
$margin-x-large: 3rem;
$margin-xx-large: 4rem;
$margin-xxx-large: 6rem;
$margin-xxxx-large: 9rem;

// Padding (up/down, left-right)
$padding-tiny: 0.75rem 1.2rem;
$padding-small: 1rem 1.8rem;
$padding-regular: 1.5rem 2.7rem;
$padding-large: 2rem 3.6rem;
$padding-x-large: 3rem 5.3rem;
$padding-xx-large: 4rem 7.1rem;
$padding-xxx-large: 6rem 10.7rem;
$padding-xxxx-large: 9rem 16rem;

// Transitions
$transition-slow: 1.2s;
$transition-medium: 0.6s;
$transition-fast: 0.2s;

// Others
$opacity: 0.9;
