// Fonts
$font-primary: Roboto, sans-serif;
$font-hand-written: 'Dancing Script', cursive, sans-serif;
$font-tiny-size: 1.2rem;
$font-small-size: 2rem;
$font-normal-size: 2.3rem;
$font-large-size: 3.3rem;
$font-giant-size: 6rem;

// Colors
$color-primary: #004080;
$color-primary-dark: #002D4E;
$color-secondary: #F0AD4E;
$color-secondary-dark: #7A562B;
$color-gray-light: #EFF6FA;
$color-gray-normal: #7F8C97;
$color-dark: #303E49;

$background-color-one: #E9F0F5;
$background-color-two: #EFF6FA;

$footer-background-color-one: #585a5d;
$footer-background-color-two: #303134;

// Others
$opacity: 0.9;
