/* Firefox Dotted Line */
a,
a:active,
a:hover,
a:focus,
a:link,
a:visited,
input::-moz-focus-inner,
button::-moz-focus-inner,
object,
embed {
  outline: none;
}

/* Utilities */
.row {
  margin: 0;
}
