.alert-banner {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2000;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:$color-gray-dark;
    margin: 0;
    padding: $padding-tiny;

    p {
        @include phone {
            font-size: $font-small;
            line-height: $font-x-large;
            padding: $padding-regular;
        }
      
        @include tablet {
            font-size: $font-regular;
            line-height: $font-xx-large;
            padding: $padding-tiny;
        }
      
        @include desktop {
            font-size: $font-large;
            line-height: $font-xxx-large;
            padding: 0;
        }
      
        @include tv {
            font-size: $font-x-large;
            line-height: $font-xxxx-large;
            padding: 0;
        }
    }

    p,
    .dismiss {
        margin: 0;
        color:  white;
        text-align: center;
    }

    .dismiss {
        font-size: $font-x-large;
        position: absolute;
        right: 5%;
        cursor: pointer;
    }

    .em {
        font-size: $font-regular;
    }

    .highlight {
        background: $color-secondary;
        padding: $padding-small;
        margin: 3px;
        color: white;
        border-radius: 50px;
        box-sizing: border-box;
    }

    a {
        white-space: nowrap;

        &:hover {
            text-decoration: none;
        }
    }
}
