@media (min-width: 768px) {
  .contact-form {
    input,
    textarea,
    select {
      font-size: 1.8rem;
      line-height: 1.8rem;
      padding: 2rem;
    }

    label,
    legend {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
}

@media (max-width: 768px) {
  .contact-form {
    input,
    textarea,
    select {
      font-size: 1.5rem;
      line-height: 1.5rem;
      padding: 1.2rem;
    }

    label,
    legend {
      font-size: 2rem;
      line-height: 2rem;
    }
  }

}

.contact-form {
  margin-bottom: 3rem;

  label,
  legend,
  input,
  textarea,
  select {
    font-weight: normal;
    display: block;
    height: auto;
  }

  select {
    background: url("https://res.cloudinary.com/joaosilva2095/image/upload/f_auto,q_auto/v1496246202/Portfolio/dropdown_dfeblc.png") right / 30px no-repeat #fff;
    background-repeat: no-repeat; // TODO: Test and fix me
    -webkit-appearance: listbox;
    -moz-appearance: listbox;
    appearance: listbox;
  }

  input,
  textarea,
  select {
    color: #303e49;
    border: none;
    border-radius: 0;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;

    &:focus {
      box-shadow: 0px 0px 5px 0px rgba(0, 64, 128, 0.25);
    }
  }

  textarea {
    resize: none;
  }

  label,
  legend {
    font-family: Roboto, sans-serif;
    text-align: left;
    color: #004080;
    border: none;
    padding: 0;
    margin: 0.5rem;
  }

  .g-recaptcha {
    overflow: hidden;

    > * {
      margin: 0 auto;
    }
  }

  button {
    margin-top: 1.5rem;
    width: 15rem;
  }
}

#ext {
  float: left;
  width: 25%;
}

#phone {
  float: right;
  width: 70%;
}

#submitResult {
  display: none;
}
