@media (min-width: 768px) {
  .skill-set {
    h3 {
      font-size: $font-normal-size;
    }

    hr {
      width: 25rem;
    }
  }

  .skill-element {
    height: $font-small-size;
    line-height: $font-small-size;

    p {
      font-size: $font-small-size;
    }
  }
}

@media (max-width: 768px) {
  .skill-set {
    h3 {
      font-size: $font-small-size;
    }

    hr {
      width: 15rem;
    }
  }

  .skill-element {
    height: $font-tiny-size;
    line-height: $font-tiny-size;

    p {
      font-size: $font-tiny-size;
    }
  }
}

.skill-set {
  h3 {
    color: $color-primary;
  }

  hr {
    border: 0.1rem solid $color-primary;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

.skill-element {
  margin-top: 1rem;

  p {
    text-align: right;
    margin: 0;
    color: $color-gray-normal;
  }

  div,
  .progress {
    overflow: unset;
    height: 100%;
    box-shadow: none;
  }
}