.text-icon {
  margin-top: 1rem;

  @include phone {
    p, i {
      font-size: $font-tiny-size;
      line-height: $font-tiny-size;
    }
  }

  @include tablet; @include desktop; @include tv {
    p, i {
      font-size: $font-small-size;
      line-height: $font-small-size;
    }
  }

  p, i {
    margin: 0;
  }

  p {
    display: inline-block;
    color: $color-gray-normal;
  }

  i {
    color: $color-secondary;
  }
}
