.timeline-content {
  position: relative;
  box-sizing: border-box;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 90%;
    width: 0.3rem;
    background: $background-color-two-dark;
    opacity: 0.5;
  }
}
