.contact-form {
  label,
  legend,
  input,
  textarea,
  select {
    font-weight: normal;
    display: block;
    height: auto;
  }

  select {
    background: url("https://res.cloudinary.com/joaosilva2095/image/upload/f_auto,q_auto/v1496246202/Portfolio/dropdown_dfeblc.png") right / 30px no-repeat #fff;
    background-repeat: no-repeat; // TODO: Test and fix me
    -webkit-appearance: listbox;
    -moz-appearance: listbox;
    appearance: listbox;
  }

  input,
  textarea,
  select {
    color: $color-gray-dark;
    border: none;
    border-radius: 0;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;

    @include phone {
      font-size: $font-small;
      line-height: $font-regular;
      padding: $padding-tiny;
    }

    @include tablet {
      font-size: $font-small;
      line-height: $font-regular;
      padding: $padding-small;
    }

    @include desktop {
      font-size: $font-regular;
      line-height: $font-large;
      padding: $padding-regular;
    }

    @include tv {
      font-size: $font-large;
      line-height: $font-x-large;
      padding: $padding-large;
    }

    &:focus {
      box-shadow: 0px 0px 5px 0px rgba(0, 64, 128, 0.25);
    }
  }

  textarea {
    resize: none;
  }

  button {
    @include phone {
      display: block;
      line-height: $font-small;
      font-size: $font-small;
      margin: $margin-large auto;
      padding: $padding-small;
    }

    @include tablet {
      line-height: $font-regular;
      font-size: $font-regular;
      margin: $margin-large $margin-regular;
      padding: $padding-regular;
    }

    @include desktop {
      line-height: $font-large;
      font-size: $font-large;
      margin: $margin-x-large $margin-large;
      padding: $padding-large;
    }

    @include tv {
      line-height: $font-x-large;
      font-size: $font-x-large;
      margin: $margin-xx-large $margin-x-large;
      padding: $padding-x-large;
    }
  }

  label,
  legend {
    color: $color-primary;
    text-align: left;
    border: none;
    padding: 0;
    margin: $margin-small;

    @include phone {
      font-size: $font-small;
      line-height: $font-small;
    }

    @include tablet {
      font-size: $font-regular;
      line-height: $font-regular;
    }

    @include desktop {
      font-size: $font-large;
      line-height: $font-large;
    }

    @include tv {
      font-size: $font-x-large;
      line-height: $font-x-large;
    }
  }
}

#ext {
  float: left;
  width: 25%;
}

#phone {
  float: right;
  width: 70%;
}

#submitResult {
  display: none;
}
