@media (min-width: 768px) {
  footer {
    > .upper-footer {
      font-size: $font-regular;
    }

    > .lower-footer {
      > .footer-quote p {
        font-size: $font-tiny;
      }

      .fa {
        font-size: $font-large;
      }

      .social-icon {
        padding: 1em;
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    > .upper-footer {
      font-size: $font-small;
    }

    > .lower-footer {
      > .footer-quote p {
        font-size: $font-tiny;
      }

      .fa {
        font-size: $font-regular;
      }

      .social-icon {
        padding: 0.5em;
      }
    }
  }
}

footer {
  > .upper-footer {
    padding: 1rem 0rem;
    background-color: $footer-background-color-one;
    color: $color-gray-light;
    font-family: $font-hand-written;
    box-sizing: border-box;

    > span {
      margin-left: 1rem;
    }
  }

  > .lower-footer {
    background-color: $footer-background-color-two;
    color: $color-gray-light;

    > .footer-quote {
      padding: 1rem;

      img {
        width: 4rem;
        height: 100%;
      }

      p {
        margin: 0;
      }
    }

    .social-icon {
      color: $color-gray-light;
      box-sizing: border-box;
      display: inline-block;
      margin-right: -4px;
      -webkit-transition: background-color 0.2s linear;
      transition: background-color 0.2s linear;

      &:hover,
      &:focus,
      &:active {
        background-color: $footer-background-color-one;
        text-decoration: none;
        outline: 0;
      }
    }
  }
}
