@media (min-width: 768px) {
  .navbar-center {
    .navbar-collapse {
      > ul {
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
      }

      .navbar-nav > li > a {
        padding: 2rem 3rem;
        font-size: $font-normal-size;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-center {
    .navbar-collapse {
      .navbar-nav {
        > li > a {
          padding: 10px 15px;
          font-size: $font-tiny-size;
        }
      }
    }
  }
}

.navbar-center {
  background-color: $background-color-one;
  border: 0;
  margin: 0;
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.4);

  .navbar-collapse {
    .navbar-nav > li {
      > a {
        box-sizing: border-box;
        color: $color-primary;
        -webkit-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;
      }

      &.active > a,
      > a:hover,
      > a:active {
        color: white;
        background-color: $color-primary;
      }
    }
  }
}
