@media (min-width: 768px) {
  main section {
    > header > h2 {
      font-size: $font-large;
    }

    > hr {
      width: 45rem;
    }
  }
}

@media (max-width: 768px) {
  main section {
    > header > h2 {
      font-size: $font-regular;
    }

    > hr {
      width: 25rem;
    }
  }
}

main section {
  > div {
    padding: 5rem 0;
  }

  > header > h2 {
    text-align: center;
    color: $color-primary;
    margin: 0;
    box-sizing: border-box;
    padding: 3rem 0rem 0.5rem 0rem;
  }

  > hr {
    border-top: 0.3rem solid $color-primary;
    margin: 0 auto;
  }

  &:nth-of-type(odd) {
    background-color: $background-color-one;
  }

  &:nth-of-type(even) {
    background-color: $background-color-two;
  }
}