@media (min-width: 768px) {
  .skill-set {
    h3 {
      font-size: $font-regular;
    }

    hr {
      width: 25rem;
    }
  }
}

@media (max-width: 768px) {
  .skill-set {
    h3 {
      font-size: $font-small;
    }

    hr {
      width: 15rem;
    }
  }
}

.skill-set {
  h3 {
    color: $color-primary;
  }

  hr {
    border: 0.1rem solid $color-primary;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
